.about {
	font-size: 20px;
	margin: 0 auto;
	padding: 50px 0 100px;

	a {
		color: $c_text;
	}
}

.about_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	min-height: 150px;
	padding: 30px 0 0;

	&__img {
		display: block;
		height: 50px;
		object-fit: contain;
		width: 50px;
	}

	&__item {
		padding: 4px;
	}

	@media #{$mobile_min} {
		&__img {
			filter: grayscale(30%) brightness(.5);
			transition: filter, height, width, margin-top, .2s cubic-bezier(.25, 1, .5, 1);
			will-change: filter;
		}

		&__item {
			&:has(+ .about_list__item:hover) {
				.about_list__img {
					filter: inherit;
					height: 80px;
					margin: -20px 0 0;
					width: 80px;
				}
			}

			&:hover {
				.about_list__img {
					filter: inherit;
					height: 100px;
					margin: -40px 0 0;
					width: 100px;
				}

				+ .about_list__item {
					.about_list__img {
						filter: inherit;
						height: 80px;
						margin: -20px 0 0;
						width: 80px;
					}
				}
			}
		}
	}
}

.about_main_img {
	border-radius: 50%;
	display: block;
	margin: 0 auto 30px;
	max-width: 350px;
	width: 100%;
}