// Elements hierarchy:
// Standard class
// ID
// Other classes
// Different screen sizes

// Standart class [START]
body {
	font-family: $font_main;
}

h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	margin: 0 0 1em;
	text-transform: uppercase;
}

h2 {
	animation: letterSpacing 12s ease infinite;
	color: #000;
	display: block;
	font-size: 110px;
	font-weight: 700;
	letter-spacing: .1em;
	line-height: 1.2;
	margin: 0;
	opacity: .8;
	padding: .3em 0;
	position: relative;
	text-align: center;

	@media #{$tablet} {
		font-size: 70px;
	}

	@media #{$mobile} {
		font-size: 50px;
	}

	@media #{$mobile_s} {
		font-size: 30px;
	}
}

h3 {
	color: #000;
	font-size: 24px;
	font-weight: 900;
	padding: 1em 0 0;
	position: relative;
	text-align: left;
	text-transform: uppercase;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
}

html {
	font-family: $font_main;
}
// Standart class [END]



// ID [START]
// ID [END]



// help classes [START]
[data-theme="theme_black_and_white"] {
	.about {
		filter: grayscale(100%);
	}

	.btn {
		&__main {
			span {
				&::before {
					background: #000;
				}
			}
		}
	}

	.contacts_links {
		&__img {
			filter: grayscale(100%);
		}
	}

	.home_block {
		background: linear-gradient(-45deg, #000, #fff, #000);
		background-size: 400% 400%;
	}

	.footer {
		background: linear-gradient(-45deg, #000, #fff, #000, #fff);
		background-size: 400% 400%;
	}

	.gotop {
		border: 2px solid #000;
	}

	.project {
		&__img {
			filter: grayscale(100%);
		}
	}

	.project_bg_type_2,
	.project_bg_type_3,
	.project_bg_type_4 {
		&::after {
			background: linear-gradient(to right, #fff, #000);
		}

		&::before {
			background: linear-gradient(to right, #000, #fff);
		}
	}
}

[data-theme="theme_cyperpunk"] {
	h2 {
		color: $c_gradient_footer_1;
	}

	h3 {
		color: $c_gradient_home_end;
	}

	.btn {
		&__link {
			background-color: $c_gradient_footer_1;
			border: 1px solid rgba(#fff, .99);
			color: #fff;
			font-size: 15px;
			letter-spacing: .26em;

			&:hover {
				background-color: $c_gradient_home_start;
			}
		}

		&__main {
			border-radius: 0;
			color: #fff;
			font-size: 15px;
			padding: 30px 0;
			z-index: 0;

			&:hover {
				color: #fff;

				span {
					&::after {
						background-color: $c_gradient_home_start;
						opacity: 1;
					}
				}
			}

			span {
				border: 1px solid rgba($c_gradient_footer_1, .99);
				display: inline-block;
				padding: 16px 42px;
				position: relative;

				&::after {
					background-color: $c_gradient_footer_1;
					height: 100%;
					left: 0;
					top: 0;
					transition: $transition;
					width: 100%;
				}

				&::before {
					animation: glowing 20s linear infinite;
					background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
					background-size: 400%;
					filter: blur(5px);
					height: calc(100% + 4px);
					left: -2px;
					top: -2px;
					transition: $transition;
					width: calc(100% + 4px);
				}
			}
		}

	}

	.gotop {
		&::after,
		&::before {
			background-color: $c_gradient_footer_1;
		}
		&:hover {
			background-color: $c_gradient_footer_1;
		}
	}

	.process {
		&__item {
			&::before {
				color: $c_gradient_home_end;
			}
		}
	}

	.topmenu {
		background-color: $c_gradient_footer_1;
	}

	.topmenu_list {
		&__link {
			color: #fff;
			opacity: 1;

			&::after {
				background-color: $c_gradient_home_start;
			}
		}
	}

	.topmenu_mobile {
		&__toggle {
			&::after,
			&::before,
			> span {
				background-color: #fff;
			}
		}
	}

	.topmenu_phone {
		color: #fff;
	}
}

[data-theme="theme_forest"] {
	h2 {
		color: lighten($c_theme_forest, 10%);
	}

	h3 {
		color: lighten($c_theme_forest, 20%);
	}

	.btn {
		&__link {
			background-color: lighten($c_theme_forest, 15%);
			border: 1px solid rgba(#fff, .99);
			color: #fff;
			font-size: 15px;
			letter-spacing: .26em;

			&:hover {
				background-color: lighten($c_theme_forest, 30%);
			}
		}

		&__main {
			border-radius: 0;
			color: #fff;
			font-size: 15px;
			padding: 30px 0;
			z-index: 0;

			&:hover {
				color: #fff;

				span {
					&::after {
						background-color: lighten($c_theme_forest, 15%);
						opacity: 1;
					}
				}
			}

			span {
				border: 1px solid rgba($c_theme_forest, .99);
				display: inline-block;
				padding: 16px 42px;
				position: relative;

				&::after {
					background-color: $c_theme_forest;
					height: 100%;
					left: 0;
					top: 0;
					transition: $transition;
					width: 100%;
				}

				&::before {
					animation: glowing 20s linear infinite;
					background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
					background-size: 400%;
					filter: blur(5px);
					height: calc(100% + 4px);
					left: -2px;
					top: -2px;
					transition: $transition;
					width: calc(100% + 4px);
				}
			}
		}
	}

	.footer {
		background: linear-gradient(-45deg, $c_theme_forest, darken($c_theme_forest, 30%), lighten($c_theme_forest, 30%), $c_theme_forest);
		background-size: 400% 400%;
	}

	.gotop {
		border-color: $c_theme_forest;

		&::after,
		&::before {
			background-color: $c_theme_forest;
		}

		&:hover {
			background-color: $c_theme_forest;
		}
	}

	.home_block {
		background: linear-gradient(-45deg, $c_theme_forest, lighten($c_theme_forest, 50%), $c_theme_forest);
		background-size: 400% 400%;
	}

	.process {
		&__item {
			&::before {
				color: $c_theme_forest;
			}
		}
	}

	.topmenu {
		background-color: $c_theme_forest;
	}

	.topmenu_list {
		&__link {
			color: #fff;
			opacity: 1;

			&::after {
				background-color: lighten($c_theme_forest, 20%);
			}
		}
	}

	.topmenu_mobile {
		&__toggle {
			&::after,
			&::before,
			> span {
				background-color: #fff;
			}
		}
	}

	.topmenu_phone {
		color: #fff;
	}
}

.checkbox {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;

	input {
		left: -9999px;
		position: absolute;

		&:checked {
			+ span {
				&::after,
				&::before {
					display: block;
				}
			}
		}
	}

	span {
		background-color: #fff;
		border: 2px solid $c_text;
		border-radius: 6px;
		display: inline-block;
		height: 40px;
		position: relative;
		width: 40px;

		&::after,
		&::before {
			background-color: $c_text;
			content: "";
			display: none;
			height: 4px;
			position: absolute;
		}

		&::after {
			left: 11px;
			transform: rotate(-45deg);
			top: 15px;
			width: 24px;
		}

		&::before {
			left: 3px;
			transform: rotate(45deg);
			top: 18px;
			width: 16px;
		}
	}
}

.checkbox_radio {
	cursor: pointer;
	margin: 0 20px 20px 0;

	input {
		left: -9999px;
		position: absolute;

		&:checked {
			+ span {
				&::after {
					border-color: $c_selected;
				}
			}
		}
	}

	> span {
		border-radius: 50%;
		display: block;
		height: 40px;
		width: 40px;
		position: relative;

		&::after {
			border: 5px solid rgba(#000, 0);
			border-radius: 50%;
			content: "";
			height: calc(100% + 8px);
			left: -4px;
			position: absolute;
			top: -4px;
			width: calc(100% + 8px);
		}
	}
}

.content_inner {
	min-height: 500px;
	padding: 150px 0 100px;

	h1 {
		color: #000;
	}
}

.gotop {
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid $c_gradient_home_end;
	cursor: pointer;
	display: block;
	height: 70px;
	left: 50%;
	outline: 0 none;
	position: absolute;
	text-decoration: none;
	top: 0;
	transform: translate(-50%,-50%);
	transition: $transition;
	width: 70px;
	z-index: 3;

	&::after,
	&::before {
		background-color: $c_text;
		content: "";
		display: block;
		height: 5px;
		position: absolute;
		top: 30px;
		transition: $transition;
		width: 20px;
	}

	&::after {
		left: 17px;
		transform: rotate(-35deg);
	}

	&::before {
		left: 31px;
		transform: rotate(35deg);
	}

	&:hover {
		background-color: #000;

		&::after,
		&::before {
			background-color: #fff;
		}
	}
}

.js-img-scroll {
	height: 1px;
	width: 1px;
}

.logo {
	display: inline-block;
	height: 330px;
	margin: 70px 0 25px;
	position: relative;
	width: 330px;

	@media #{$mobile} {
		height: 290px;
		width: 290px;
	}
}

.page-id-138 {
	.entry-header {
		display: none;
	}
}

.singular {
	.topmenu {
		background-color: #fff;
	}
}

.social_links {
	margin: 0 0 40px;

	&__item {
		display: inline-block;
		margin: 0 20px;
		transition: $transition;
	}

	&__link {
		text-decoration: none;

		&:hover {
			opacity: .7;
		}
	}
}

.theme_change {
	display: flex;
	font-size: 12px;
	left: 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	&__item {
		margin: 0 8px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	&__link {
		background-color: #000;
		border: 1px solid #fff;
		border-radius: 50%;
		display: block;
		height: 24px;
		width: 24px;

		&:hover {
			opacity: .7;
		}

		&--type-1 {
			background: $c_gradient_footer_1;
		}

		&--type-2 {
			background: linear-gradient(-45deg, #000, #fff);
		}

		&--type-3 {
			background: linear-gradient(-45deg, $c_gradient_home_start, $c_gradient_footer_1);
		}

		&--type-4 {
			background: linear-gradient(-45deg, $c_theme_forest, lighten($c_theme_forest, 50%));
		}
	}

	@media #{$mobile} {
		left: 90px;
	}

	@media #{$mobile_s} {
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.wrap {
	margin: 0 auto;
	max-width: 980px;
	padding: 0 30px;
	width: 100%;
}
// help classes [END]