.footer {
	animation: bg_gradient 10s ease infinite;
	background: linear-gradient(-45deg, $c_gradient_home_start, $c_gradient_home_end, $c_gradient_footer_1, $c_gradient_footer_2);
	background-size: 400% 400%;
	color: #fff;
	padding: 200px 0;
	position: relative;
	text-align: center;

	a {
		color: #fff;
		display: inline-block;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&__desc {
		text-transform: uppercase;
	}
}

.footer_copyright {
	font-size: 12px;
	opacity: .7;
}

.footer_slogan {
	font-size: 10px;
	text-transform: uppercase;
}