


@keyframes blur {
	0% {
		filter: blur(0px);
	}
	50% {
		filter: blur(4px);
	}
	100% {
		filter: blur(0px);
	}
}

.home_block {
	align-items: center;
	background: linear-gradient(to left, $c_gradient_home_start, $c_gradient_home_end);
	border-bottom: 1px solid $c_border;
	color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
	padding: 100px 0;
	perspective: 1000px;
	position: relative;
	text-align: center;

	&__bg {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}

	&__content {
		position: relative;
		transform-style: preserve-3d;
		z-index: 3;
	}

	@media #{$mobile} {
		min-height: 0;
	}
}

.home_block_desc {
	animation: blur 5s infinite;
	font-size: 98px;
	font-weight: 700;
	margin: 0 0 .25em;
	position: relative;
	text-transform: uppercase;

	@media #{$tablet} {
		font-size: 55px;
	}

	@media #{$mobile} {
		font-size: 35px;
	}
}

.home_block_slogan {
	font-size: 29px;
	margin: 0 0 1.4em;
	opacity: 1;
	text-transform: uppercase;
	transition: all 1s ease-in-out;

	&__hide {
		opacity: 0;
	}

	@media #{$tablet} {
		font-size: 24px;
	}

	@media #{$mobile} {
		font-size: 16px;
	}
}


