.process {
	counter-reset: process_counter;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	grid-gap: 30px;
	justify-content: center;
	padding: 0 0 100px;
	text-align: center;

	h3 {
		text-align: center;
	}

	&__desc {}

	&__item {
		counter-increment: process_counter;
		max-width: 300px;
		padding: 90px 0 0;
		position: relative;

		&::before {
			color: $c_gradient_footer_1;
			content: '' counter(process_counter);
			font-size: 80px;
			font-weight: 700;
			left: 0;
			line-height: 1;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}