.topmenu {
	background-color: #fff;
	box-shadow: 0 0 7px #000;
	font-size: 16px;
	left: 0;
	position: fixed;
	text-transform: uppercase;
	top: 0;
	transition: $transition;
	width: 100%;
	z-index: 9;

	&__bg {
		background-color: rgba($c_gradient_home_start, .8);
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		transition: $transition;
		width: 100%;
		z-index: 8;
	}
}

.topmenu_active {
	.topmenu {
		background-color: #fff;
	}

	.topmenu_list {
		a,
		a:visited {
			color: #000;

			&.active {
				color: #fff;
			}
		}
	}

	.topmenu_mobile__toggle,
	.topmenu_mobile__toggle:visited {
		> span {
			background-color: #000;
		}
	}

	.topmenu_mobile__logo,
	.topmenu_mobile__logo:visited {
		color: #000;

		img {
			filter: invert(100%);
		}
	}
}

.topmenu_list {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;

	&__link {
		color: #000;
		display: block;
		opacity: .7;
		outline: 0 none;
		padding: 10px 20px;
		position: relative;
		text-decoration: none;

		&:hover,
		&.active {
			color: #fff;
			opacity: 1;
			text-decoration: none;

			&::after {
				top: 0;
			}
		}

		&::after {
			background-color: #000;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: -150px;
			transition: $transition;
			width: 100%;
			z-index: -1;
		}
	}

	&__item {
		display: block;
	}

	@media #{$mobile} {
		background-color: #fff;
		display: none;
		left: 0;
		position: absolute;
		top: 100%;
		width: 100%;

		a {
			padding: 20px 30px;
			text-align: center;

			&::after {
				display: none;
			}

			&:hover,
			&.active {
				background-color: #000;
				color: #fff;
			}
		}
	}
}

.topmenu_mobile {
	align-items: center;
	display: none;
	justify-content: space-between;

	&__logo {
		align-items: center;
		color: #000;
		display: flex;
		padding: 4px 0;
		text-decoration: none;
		transition: $transition;

		img {
			height: 40px;
			filter: invert(100%);
			margin: 0 10px 0 0;
			width: 40px;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__toggle {
		display: block;
		cursor: pointer;
		height: 40px;
		position: relative;
		text-decoration: none;
		width: 40px;

		&::after,
		&::before,
		> span {
			background-color: #000;
			content: "";
			display: block;
			height: 2px;
			left: 8px;
			margin: 0 0 4px;
			position: absolute;
			top: 19px;
			transition: $transition;
			width: 22px;
		}

		&::after {
			top: 13px;
		}

		&::before {
			top: 25px;
		}
	}

	@media #{$mobile} {
		display: flex;
	}
}

.topmenu_mobile_active {
	@media #{$mobile} {
		.topmenu {
			ul {
				display: block;
			}

			&__bg {
				display: block;
			}
		}

		.topmenu_mobile {
			&__toggle {
				&::after {
					top: 18px;
					transform: rotate(-45deg);
				}

				&::before {
					top: 18px;
					transform: rotate(45deg);
				}

				> span {
					left: 100px;
					opacity: 0;
				}
			}
		}
	}
}

.topmenu_phone {
	color: #000;
	font-size: 14px;
	opacity: .7;
	position: absolute;
	right: 10px;
	text-decoration: none;
	top: 50%;
	transform: translateY(-50%);

	&:hover {
		opacity: 1;
	}

	@media #{$mobile} {
		right: 90px;
	}

	@media #{$mobile_s} {
		display: none;
	}
}