// sCSS Document
// Powered by Denis FOX | dfox@foxartbox.com

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;700;800&display=swap');

// colors
$c_gradient_1:              #fa5154;
$c_gradient_11:             #e6c2e8;
$c_gradient_2:              #99e1fe;
$c_gradient_8:              #feb9bd;
$c_gradient_home_start:     #070449;
$c_project_type_5:          #ddb472;
$c_selected:                #34d955;
$c_text:                    #707070;
$c_theme_cyperpunk:         #ee0979;
$c_theme_forest:            #17520a;
$c_theme_yellow:            #ffd500;

$fontsFolder:               'assets/fonts/';
$i:                         'assets/i';
$icons:                     $i + '/icons';
$themeFolder:               '/wp-content/themes/foxartbox/';

$transition:                all .3s ease-in-out;

// @medias
$desktop:               'only screen and (max-width: 1279px)';
$mobile:                'only screen and (max-width: 767px)';
$mobile_s:              'only screen and (max-width: 500px)';
$tablet:                'only screen and (max-width: 1023px)';

// fonts
$font_main:             'Open Sans', Arial, Helvetica, sans-serif;